.AppleDouble
.DS_Store
.LSOverride
._*
.git_template/hooks/disabled-pc
node_modules
config/spicetify_data/*
!config/spicetify_data/Themes
!config/spicetify_data/*.ini
runcom/.vim/backup/*
!runcom/.vim/backup/.gitignore
runcom/.vim/temp/*
!runcom/.vim/temp/.gitignore
runcom/.vim/.netrwhist
runcom/.vim/bundle/*
!runcom/.vim/bundle/.gitignore
!runcom/.vim/bundle/Vundle.vim
