[submodule "apps/iterm2/nord_theme"]
	path = apps/iterm2/nord_theme
	url = https://github.com/arcticicestudio/nord-iterm2
[submodule "apps/terminal/nord_theme"]
	path = apps/terminal/nord_theme
	url = https://github.com/arcticicestudio/nord-terminal-app
[submodule "apps/xcode/nord_theme"]
	path = apps/xcode/nord_theme
	url = https://github.com/arcticicestudio/nord-xcode
[submodule "plugins/prezto"]
	path = plugins/prezto
	url = https://github.com/sorin-ionescu/prezto.git
[submodule "plugins/zsh/zsh-z"]
	path = plugins/zsh/zsh-z
	url = https://github.com/agkozak/zsh-z.git
[submodule "plugins/zsh/zsh-autocomplete"]
	path = plugins/zsh/zsh-autocomplete
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "runcom/.vim/bundle/Vundle.vim"]
	path = runcom/.vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "plugins/zsh/zsh-nvm"]
	path = plugins/zsh/zsh-nvm
	url = https://github.com/lukechilds/zsh-nvm
[submodule "config/spicetify/Themes"]
	path = config/spicetify/Themes
	url = https://github.com/morpheusthewhite/spicetify-themes
[submodule "plugins/zsh/zsh-thefuck"]
	path = plugins/zsh/zsh-thefuck
	url = https://github.com/laggardkernel/zsh-thefuck
[submodule "apps/warp/themes"]
	path = apps/warp/themes
	url = https://github.com/warpdotdev/themes.git
[submodule "apps/gitkraken/themes"]
	path = apps/gitkraken/themes
	url = https://github.com/JonBunator/gitkraken-custom-themes.git
