.AppleDouble
.DS_Store
.LSOverride
._*
.git_template/hooks/disabled-pc
__pycache__/
*.py[cod]
*$py.class
.Python
node_modules
apps/gitkraken/profiles/*/**
!apps/gitkraken/profiles/*/profile
config/karabiner/automatic_backups
config/spicetify/*
!config/spicetify/Themes
!config/spicetify/*.ini
runcom/.vim/backup/*
!runcom/.vim/backup/.gitignore
runcom/.vim/temp/*
!runcom/.vim/temp/.gitignore
runcom/.vim/.netrwhist
runcom/.vim/bundle/*
!runcom/.vim/bundle/.gitignore
!runcom/.vim/bundle/Vundle.vim
